<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>库奇博客后台 - 友链设置</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/fontawesome-free/css/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/fontawesome-free/css/v4-shims.min.css" />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index">库奇博客后台系统</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">系统消息</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">用户反馈</a>
            <!--<a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="updataBlog">设置</a>
            <a class="dropdown-item" href="#">活动日志</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">注销</a>
          </div>
        </li>
      </ul>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="sendOut.html">
          	<!--fas fa-fw fa-tachometer-alt-->
            <i class="fa fa-pencil-square-o"></i>
            <span>发博客</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-book"></i>
            <span>文章管理</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Article Screens:</h6>
            <a class="dropdown-item" href="classfiy">分类</a>
            <a class="dropdown-item" href="article">操作</a>
            <a class="dropdown-item" href="draft">草稿箱</a>
          </div>
        </li>
        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-rss-square"></i>
            <span>博客管理</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Blog Screens:</h6>
            <a class="dropdown-item" href="updataBlog">信息操作</a>
            <a class="dropdown-item" href="register.html">友链操作</a>
            <a class="dropdown-item" href="register.html">主题操作</a>
          </div>
        </li>
        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            <span>用户管理</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">User Screens:</h6>
            <a class="dropdown-item" href="users">操作</a>
          </div>
        </li>
      </ul>
			
			<!--
				作者：13044926957@163.com
				时间：2019-01-16
				描述：友情链接
        -->
			<!--主内容区-->
      <div id="content-wrapper">
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="col-sm">
	    				<div class="card">
							  <h5 class="card-header"><span class="card-header-addTitle">友情链接</span><span class="card-header-addImg" id="addFriendLink"><a href="javascript:;"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></span></h5>
							  <div class="card-body card-body-my">
									<table class="table">
									  <thead>
									    <tr>
									      <th scope="col">#</th>
									      <th scope="col">链接名称</th>
									      <th scope="col">添加时间</th>
									      <th scope="col">访问次数</th>
									      <th scope="col">链接</th>
									      <th scope="col">是/否显示</th>
									      <th scope="col">操作</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr th:each="list : ${dataList}">
									      <th scope="row" th:text="${list.lNumber}">1</th>
									      <td th:text="${list.lName}">百度</td>
									      <td th:text="${list.lAddtime}">2019.01.16 16:11</td>
									      <td th:text="${list.lClickcount}">0</td>
									      <td th:text="${list.lLink}">www.baidu.com</td>
									      <td th:if="${list.lShow} == 1">是</td>
									      <td th:if="${list.lShow} == 0">否</td>
									      <th><button type="button" class="btn btn-outline-primary" th:onclick="'ajaxUpdata('+${list.lNumber}+',\''+${list.lName}+'\')'">修改</button>
									      	&nbsp;&nbsp;<button type="button" class="btn btn-outline-danger" th:onclick="'ajaxDelete('+${list.lNumber}+',\''+${list.lName}+'\')'">删除</button></th>
									    </tr>
									  </tbody>
									</table>
							  </div>
							</div>
	    			</div>
	    		</div>
	    		<div id="pagination"></div>
	    	</div>
    	</div>

    	<!-- Sticky Footer -->
    	<footer class="sticky-footer">
      	<div class="container my-auto">
        	<div class="copyright text-center my-auto">
          	<span>Copyright © KuQi 2018</span>
        	</div>
      	</div>
    	</footer>
    </div>
      <!-- /.content-wrapper -->
   </div>
  <!-- /#wrapper -->

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">注销账户</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">您是否注销账户？</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            <a class="btn btn-primary" href="logout">注销</a>
          </div>
        </div>
      </div>
    </div>

		<!-- 添加友链-模态框  -->
		<div class="modal fade" id="loadFriendLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog-centered modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">添加友链</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
						<form id="loadFriendLinkForm" action="#" method="post">
	        	  <div class="form-group">
						    <label for="inputlName">链接名称：</label>
						    <input type="text" id="inputlName" class="form-control" name="lName" placeholder="请输入友链名称">
						    <div class="invalid-feedback" id="help-block-lName"></div>
						  </div>
						  <div class="form-group">
						    <label for="inputlLink">网站网址：</label>
						    <input type="text" id="inputlLink" class="form-control" name="lLink" placeholder="请输入友链链接">
						    <div class="invalid-feedback" id="help-block-lLink"></div>
						  </div>
						  <div class="form-group">
						    <label for="inputlLink">是/否显示：</label>
							  <select class="form-control" name="lShow">
								  <option value="1">是</option>
								  <option value="0">否</option>
								</select>
								<p class="help-block">提示：默认为“是”</p>
							</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <input form="loadFriendLinkForm" type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close"></input>
		        <input type="submit" class="btn btn-primary" value="添加" onclick="addLink()"></input>
		      </div>
		    </div>
		  </div>
		</div>	
		
		<!-- 修改友链-模态框  -->
		<div class="modal fade" id="uploadFriendLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog-centered modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">修改友链</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
						<form id="loadFriendLinkForm" action="#" method="post">
	        	  <div class="form-group">
						    <label for="inputlName">链接名称：</label>
						    <input type="text" id="inputlName" class="form-control" name="uploadLName" placeholder="请输入友链名称">
						    <div class="invalid-feedback" id="help-block-lName"></div>
						  </div>
						  <div class="form-group">
						    <label for="inputlLink">网站网址：</label>
						    <input type="text" id="inputlLink" class="form-control" name="uploadLLink" placeholder="请输入友链链接">
						    <div class="invalid-feedback" id="help-block-lLink"></div>
						  </div>
						  <div class="form-group">
						    <label for="inputlLink">是/否显示：</label>
							  <select class="form-control" name="uploadLShow">
								  <option value="1">是</option>
								  <option value="0">否</option>
								</select>
								<p class="help-block">提示：默认为“是”</p>
							</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <input form="loadFriendLinkForm" type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close"></input>
		        <input type="submit" class="btn btn-primary" value="修改" id="uploadLinkSubmit"></input>
		      </div>
		    </div>
		  </div>
		</div>
		
	<!--  msgs隐藏域  -->
	<input type="hidden" id="msgs" th:value="${msgs}" />
	<input type="hidden" id="pagerAll" th:value="${pagerAll}" />
	<input type="hidden" id="pagerNow" th:value="${pagerNow}" />
	
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>	
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Page level plugin JavaScript-->
	<script src="vendor/datatables/jquery.dataTables.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin.js"  type="text/javascript"></script>
	<!-- Demo scripts for this page-->
	<script src="js/demo/datatables-demo.js"></script>
	<script type="application/javascript" src="vendor/jquery-pagination/pagination.js" language="javascript" charset="UTF-8"></script>
	<script language="javascript" charset="UTF-8">
		$(function(){
			var pagerAll = $("#pagerAll").val();
			var pagerNow = $("#pagerNow").val();
			if(pagerNow == 0){
				pagerNow = 1;
			}
			var pagins = new pagination("pagination","link",pagerAll,pagerNow,5,5);
			pagins.show();
		});
		//友情链接 -- 添加
		function addLink(){
			var lName = $("#loadFriendLinkForm input[name='lName']").val();
			var lLink = $("#loadFriendLinkForm input[name='lLink']").val();
			var lShow = $("#loadFriendLinkForm select[name='lShow']").val();
			if(lName == undefined || lName == ''){
				$("#loadFriendLinkForm input[name='lName']").attr('class','form-control is-invalid');
				$("#help-block-lName").append("链接名称不能为空");
			}else if(lLink == undefined || lLink == ''){
				$("#loadFriendLinkForm input[name='lName']").attr('class','form-control');
				$("#help-block-lName").append("");
				$("#loadFriendLinkForm input[name='lLink']").attr('class','form-control is-invalid');
				$("#help-block-lLink").append("链接网址不能为空");
			}else{
				$("#loadFriendLinkForm input[name='lName']").attr('class','form-control');
				$("#help-block-lName").append("");
				$("#loadFriendLinkForm input[name='lLink']").attr('class','form-control');
				$("#help-block-lLink").append("");
				var jsons = '{"lName":"'+lName+'","lLink":"'+lLink+'","lShow":'+lShow+'}';
				//传输数据
				$.ajax({
					type:"post",
					url:"add_link.do",
					async:true,
					contentType: 'application/json;charset=UTF-8',
					data: jsons,
					success: function(data){
							alert(data.msg);
							var timeD = setInterval(function(){
								window.location.href="link";
							}, 500);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						// 状态码
				    console.log(XMLHttpRequest.status);
				    // 状态
				    console.log(XMLHttpRequest.readyState);
				    // 错误信息   
				    console.log(textStatus);
				    
					}
				});
			}
		}
		
		//修改友链 - 查询
		function ajaxUpdata(number,strs){
			$.ajax({
				type:"post",
				url:"query_AlterLink.do",
				async:true,
				contentType:'application/x-www-form-urlencoded;charset=UTF-8',
				data: {"number":number},
				success: function(data){
					$("#loadFriendLinkForm input[name='uploadLName']").attr('placeholder',data[0].lName);
					$("#loadFriendLinkForm input[name='uploadLLink']").attr('placeholder',data[0].lLink);
					$("#loadFriendLinkForm select[name='uploadLShow']").val(data[0].lShow);
					$("#uploadLinkSubmit").attr('onclick','uploadLink('+number+')');
					$("#uploadFriendLink").modal('toggle');
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					// 状态码
			    console.log(XMLHttpRequest.status);
			    // 状态
			    console.log(XMLHttpRequest.readyState);
			    // 错误信息   
			    console.log(textStatus);
				}
			});
		}
		//修改友链 - 修改
		function uploadLink(number){
			var uploadLName = $("#loadFriendLinkForm input[name='uploadLName']").val();
			var uploadLLink = $("#loadFriendLinkForm input[name='uploadLLink']").val();
			var uploadLShow =	$("#loadFriendLinkForm select[name='uploadLShow']").val();
			var jsonLinks = '{"lNumber":'+number+',"lName":"'+uploadLName+'","lLink":"'+uploadLLink+'","lShow":'+uploadLShow+'}';
			$.ajax({
				type:"post",
				url:"alter_link.do",
				async:true,
				contentType: 'application/json;charset=UTF-8',
				data: jsonLinks,
				success: function(data){
					alert(data.msg);
					var timeD = setInterval(function(){
						window.location.href="link";
					}, 500);
				},
				error: function(XMLHttpRequest, textStatus, errorThrown){
					// 状态码
			    console.log(XMLHttpRequest.status);
			    // 状态
			    console.log(XMLHttpRequest.readyState);
			    // 错误信息   
			    console.log(textStatus);
				}
			});
		}
		
		//删除友链
		function ajaxDelete(number,strs){
			var question = confirm("您确定要删除 \""+strs+"\" ？");
			var jsonLink = '{"lNumber":'+number+',"lName":"'+strs+'"}';
			if(question == true){
				$.ajax({
					type:"post",
					url:"delete_link.do",
					async:true,
					contentType: 'application/json;charset=UTF-8',
					data: jsonLink,
					success: function(data){
						alert(data.msg);
						var timeD = setInterval(function(){
							window.location.href="link";
						}, 500);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						// 状态码
				    console.log(XMLHttpRequest.status);
				    // 状态
				    console.log(XMLHttpRequest.readyState);
				    // 错误信息   
				    console.log(textStatus);
					}
				});
			}
			
		}
		
	</script>
  </body>
</html>
