body,html{
	width: 100%;
	height: 100%;
	background: #F5F5F5;
}
/* 首页的样式 */
.index_test{
	border: 1px solid #ff0000; 
}
.searchDiv{
	background: #6495ED;
	height: 100%;
}
.searchNav{
	height: 60px;
}
.spanName{
	font-size: 20px;
	color: #fff;
	font-family: 'comic sans ms', sans-serif;
	margin-top: 10px;
}
.spanNameDiv{
	float: left;
	margin-top: 8px;
	margin-bottom: 10px;
}
.rightInput{
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}
.buttonLogin{
	padding: 8px;
	color: #fff;
}
.div_center{
	float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;
	margin-top: 60px;
	height: 50px;
}
.div_search{
	width: 100%;
	height: 45px;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	border: 1px solid #E7E7E7;	
}
.div_searchInput{
	width: 100%;
	height: 35px;
	border: 0px;
	text-align: center;
	outline: none;
}
.div_searchInput:focus{
	outline: none;
}
.ul_normalize{
	padding: 0;
	list-style: none;
}
.ul_normalize li{
	display: inline-block;
	padding-left: 10px;
}
.div_HotSearch{
	margin-top: 20px;
}
.icon_hot{
	display: block;
	width: auto;
	height: 32px;
	background-image: url(../Img/hot.png);
	background-repeat: no-repeat;
	padding-left: 32px;
	padding-top: 5px;
}
.fleshDiv{
	height: auto;
	background: #F2F2F2;
	padding-bottom: 130px;
}
.HideFloatWarp{
	width: 45px;
	height: 150px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.HideFloatWarp a{
	text-decoration: none;
}
.Float_Top{
	width: inherit;
	height: 45px;
	background: #fff;
	text-align: center;
	padding-top: 15px;
	border: 1px solid #E7E7E7;
	border-radius: 4px 4px 0 0;
	visibility: hidden;
}
.topicon{
	width: 16px;
	height: auto;
	background-image: url(../Img/arrows.png);
	background-repeat: no-repeat;
	padding-top: 12px;
	color: #8a8a8a;
	font-size: 13px;
}
.Float_QeCode{
	width: inherit;
	height: 45px;
	background: #fff;
	border: 1px solid #E7E7E7;	
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.Float_feedback{
	width: inherit;
	height: 45px;
	background: #fff;
	border: 1px solid #E7E7E7;	
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-radius: 0 0 4px 4px;
}
.share_Music{
	height: 500px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.Music_context{
	width: 99%;
	height: 99%;
	margin: 0 auto;
	border-top: 2px solid #F6716F;
	background: #fff;
	border-radius: 5px;
}
.share_Movie{
	height: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}
.Movie_context{
	width: 99%;
	height: 99%;
	margin: 0 auto;
	border-top: 2px solid #7383BF;
	background: #fff;
	border-radius: 5px;
}
.share_Other{
	height: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}
.Other_context{
	width: 99%;
	height: 99%;
	margin: 0 auto;
	border-top: 2px solid #F7D11E;
	background: #fff;
	border-radius: 5px;
}
#flashDiv h2{
	text-align: center;
	font-family: "楷体";
}
.Bottom_warp{
	height: 9%;
	background: #111111;
	padding-top: 15px;
}
.Bottom_warp span{
	color: #555;
	text-align: center;
	display: block;
}
.Bottom_warp_a{
	color: #555;
}
.Slogen_wrap{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}
.Slogen_wrap h1{
	display: block;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	margin: 0;
	text-shadow: -5px 5px 0px rgba(0,0,0,0.1);
}
.Slogen_wrap span{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
}
.Slogen_wrap span[name="data"]{
	display: block;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	font-size: 13px;
}
.sr-only{
	width: 32px;
	height: 32px;
	background-image: url(../Img/mune.png);
	background-repeat: no-repeat;
	margin-top: 10px;
}
.MobileMune_ul{
	float: right;
	
}
.MobileMune_ul li{
	text-align: center;
	display: inline-block;
}
.Music_icon{
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(../Img/Music.png);
	background-repeat: no-repeat;
}
.Movie_icon{
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(../Img/Video.png);
	background-repeat: no-repeat;
}
.Other_icon{
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(../Img/OtherIcon.png);
	background-repeat: no-repeat;
}

/*  登录页面样式  */
.login_warp{
	height: 100%;
	background: #F5F5F5;
}
.login_context{
	height: 100%;
	float: none;  
    display: block;  
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.span_name{
	font-size: 15px;
	font-weight: 400;
	display: block;
	color: #8B8B83;
	font-family: 'comic sans ms', sans-serif;
}
.h3_loginname{
	font-size: 25px;
	font-weight: 100;
	display: block;
	font-family: "adobe-clean","Geneva","Tahoma","Helvetica","Arial",sans-serif,"Malgun Gothic","Microsoft YaHei",sans-serif;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
.input_style{
	margin-top: 10px;
}
.forget_psw{
	float: right;
}
.checkbox_left{
	float: left;
}
.btn-radius{
	border-radius: 30px;
}
.div_magintop{
	margin-top: 30px;
}
.div_magintops{
	margin-top: 15px;
}
.div_position{
	display: block;
	width: auto;
	height: auto;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/*   注册页面样式  */

.register_warp{
	height: 100%;
	background: #F5F5F5;
}
.reg_context{
	height: auto;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 50px;
}
.div_pswTip{
	height: auto;
	display: none;
}
.ul_rule,li{
	margin-top: 10px;
}
.span_TipLogin{
	margin-top: 10px;
}


/* 结果返回页构建样式 */

.nav-myself{
	height: 60px;
}
.sr-onlyBlue{
	width: 32px;
	height: 32px;
	background-image: url(../Img/muneBlue.png);
	background-repeat: no-repeat;
	margin-top: 10px;
}
.nav-mydiy{
	background: #FCFCFC;
	border-bottom: 1px solid #E7E7E7;
}
.search-mydiv{
	margin-top: 10px;
}
.search-context{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.search-input{
	padding-top: 10px;
	padding-bottom: 10px;
}
.search-input-diy{
	height: 50px;
	border-radius: 5px;
	text-align: center;
}
.result-warp{
	background: #fff;
	border-radius: 5px;
	padding-top: 20px;
}
.list-diy{
	width: 100%;
	height: auto;
}
.doc-list-normalize{
	list-style: none;
	padding: 0;
	height: auto;
	margin-top: 20px;
}
.doc-list-normalize li{
	display: block;
	border-bottom: 1px solid #E7E7E7;
	padding-top: 15px;
	padding-bottom: 10px;
}
.doc-title{
	background-image: url(../Img/docment.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 20px;
}
.doc-form{
	float: right;
}
.ad-warp{
	height: auto;	
}
.ad-frist{
	height: 350px;
	border-radius: 5px;
	background: #fff;
}
.ad-second{
	height: 350px;
	border-radius: 5px;
	background: #fff;
	margin-top: 20px;
}
.div-bottom{
	height: auto;
	background: #202020;
	padding-bottom: 70px;
}
.resut-fluid{
	height: auto;
	padding-bottom: 20px;
}
.friend-warp{
	padding-top: 35px;
	height: 80%;
}
.friend-h4{
	color: #fff;
}
.friend-context{
	border-top: 1px solid #303030;
	padding-left: 0;
	padding-right: 0;
}
.skill-warp{
	padding-top: 35px;
	height: 80%;
}
.bottom-ul-normalize{
	list-style: none;
	padding: 0;
}
.bottom-ul-normalize li{
	list-style: none;
	display: inline-block;
}
.bottom-ul-li-a{
	color: #959595;
	padding: 4px 7px;
	border: 1px solid #303030;
	margin: 0 7px 7px 0;
	text-decoration: none;
}
.skill-context{
	border-top: 1px solid #303030;
	padding-left: 0;
	padding-right: 0;
}
.Copey-div{
	background: #111111;
	height: 60px;
}
.Copey-span{
	display: block;
	text-align: center;
	line-height: 60px;
}

/*  单资源呈现页面  */
.One-Context-warp{
	height: auto;
}
.One-context{
	background: #fff;
	margin-top: 10px;
	height: 90%;
	border-radius: 5px;
	border: 1px solid #E7E7E7;
}
.Context-allinfo{
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.Context-ul-normalize{
	list-style: none;
	padding: 0;
}
.Context-ul-normalize li{
	font-weight: 700;
}
.Context-info{
	height: auto;
}
.Context-ad{
	height: auto;
}
.info-a{
	text-decoration: none;
	color: #fff;
}
.info-a:hover{
	text-decoration: none;
	color: #fff;
}
.info-span{
	color: #6B6B6B;
	font-style: oblique;
	font-weight: 300;
}
.One-ad-1{
	height: auto;
	border-radius: 5px;
	background: #fff;
}
.One-ad-2{
	height: auto;
	border-radius: 5px;
	background: #fff;
}

.Comment-wrap{
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.Comment-context{
	height: 100%;
	border: 1px solid #E7E7E7;
	background: #fff;
	border-radius: 5px; 
	padding-bottom: 30px;
}
.context-h3{
	text-indent: 30px;
}
.textarea-style{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.btn-downlode{
	background: #8B008B;
}
.Comment-list{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 20px;
}
.one-comment{
	height: auto;
	border: 1px solid #E7E7E7;
	padding-left: 0;
	padding-right: 0;
}
.dateNone{
	width: 100%;
	height: auto;
	display: none;
}
.dateNone span{
	display: block;
	text-align: center;
	background: #FFA07A;
	padding-top: 15px;
	padding-bottom: 15px;
}
.userinfo-wrap{
	height: 100%;
	background: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
}
.context-wrap{
	height: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
}
.user-icon{
	display: block;
	width: 38px;
	height: 38px;
	background-image: url(../Img/boy-icon.png);
	background-repeat: no-repeat;
	background-size: 38px 38px;
	margin-left: auto;
	margin-right: auto;
}
.span-name{
	display: block;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.comment-context{
	
}
.date-warp{
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 12px;
	font-style: oblique;
	color: #969696;
}

/*  注册成功页面样式    */
.success-warp{
	height: 100%;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.success-warp h3{
	margin-top: 60px;
}


/*  激活成功页面样式  */
.Verify-context{
	height: auto;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.dui-icon{
	width: 200px;
	height: 32px;
	background-image: url(../Img/su.png);
	background-repeat: no-repeat;
	display: block;
	padding-left: 40px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.dao-Time{
	width: 300px;
	height: 32px;
	display: block;
	background-image: url(../Img/air.png);
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 10px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/*  资源链接共享页  */
.L-adDiv-One{
	height: 380px;
	border-radius: 5px;
	background: #fff;
}
.L-adDiv-Two{
	height: 380px;
	border-radius: 5px;
	background: #fff;
	margin-top: 30px;
}
.R-adDiv-One{
	height: 380px;
	border-radius: 5px;
	background: #fff;
}
.R-adDiv-Two{
	height: 380px;
	border-radius: 5px;
	background: #fff;
	margin-top: 30px;
}
.Link-Context{
	border-radius: 5px;
	background: #fff;
}
.Link-Context-Wrap{
	margin-top: 30px;
	margin-bottom: 30px;
}
.Link-Context{
	height: 680px;
	background: #fff;
	border-radius: 5px;
	padding-top: 20px;
}
.Link-Context span{
	color: #778899;
}
.Link-warp{
	width: 100%;
	height: 80px;
	border: 0.8px solid #EEEE00;
	background: #FAFAD2;
	text-align: center;
	line-height: 80px;
}
