html,body{
	width: 100%;
	height: 100%;
}
#allWarp{
	width: 100%;
	height: 100%;
	background: #CDC9A5;
}
.inputWarp{
	width: 350px;
	height: 450px;
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -175px;
	border-radius: 5px;
}
#allWarp .inputWarp .inputContent{
	width: 94%;
	height: 95%;
	margin: 10px;
	margin-top: 12%;
}
#allWarp .inputWarp .inputContent input{
	width: 98.9%;
	height: 35px;
}
#allWarp .inputWarp .inputContent input[name="send"]{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border:0px solid;
	background: #6CA6CD;
	color: #fff;
}
#allWarp .inputWarp .inputContent input[name="remember"]{
	width: 10px;
	height: 10px;
}
#allWarp .inputWarp .inputContent span{
	font-size: 10px;
	margin-left: 5px;
	color: #AAAAAA;
}
#allWarp .inputWarp img{
	position: relative;
	top: 20px;
	left: 50%;
	margin-left: -32px;
}
#allWarp .inputWarp .inputContent a{
	text-decoration: none;
	float: right;
	color: #6CA6CD;
}
/*后台主体的样式*/
#head{
	width: 100%;
	height: 130px;
	background: #F8F8F8;
	border-bottom: 0.5px solid #E7E7E7;
}
#head section{
	width: 270px;
	height: inherit;
	float: left;
}
#head section h1{
	position: relative;
	bottom: 0;
	color: #FFC1C1;
	margin: 0;
	font-size: 20px;
	font-family: "bookman old style";
	float: right;
	margin-top: 90px;
}
#head div{
	width: 200px;
	height: inherit;
	float: right;
}
#head div .leftTip{
	width: 50%;
	height: 50px;
	float: left;
	border-bottom: 1px solid #F8F8F8;
	border-left: 1px solid #F8F8F8;
	border-top: 1px solid #F8F8F8;
}
#head div .rightExit{
	width: 48%;
	height: 50px;
	float: right;
	border: 1px solid #F8F8F8;
}
#head div .leftTip .icoTip{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../Img/admessge.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-top: 4px;
}
#head div .leftTip .icoTip .tipData{
	padding-left: 32px;
	color: #EE5C42;
}
#head div .rightExit .icoExit{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../Img/adexit.png);
	background-repeat: no-repeat;
	margin-top: 10px;
}


/*  身体warp*/
#body{
	width: 100%;
	height: 100%;
}
#body .leftwarp{
	float: left;
	width: 20%;
	height: 100%;
	background: #F8F8F8;
	border-right: 0.5px solid #E7E7E7;
}
#body .leftwarp div{
	width: 100%;
	height: 95%;
}
#body .leftwarp div ul{
	padding: 0;
	margin: 0;
}
#body .leftwarp div ul a{
	text-decoration: none;
	text-indent: 10px;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
#body .leftwarp div ul li{
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #6495ED;
	border-bottom: 0.5px solid #E7E7E7;
}
#body .leftwarp div .icon{
	display: inline-block;
	background: url(../Img/adminback.png) no-repeat center;
	width: 16px;
	height: 16px;
	white-space: nowrap;
	letter-spacing: -1em;
	text-indent: -99em;
	color: transparent;
	 /* IE7 */
    *text-indent: 0;
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\3000');	
    float: right;
    margin-right: 10px;
}
#body .rightwarp{
	float: right;
	width: 79.9%;
	height: 100%;
	border: 0;
}

/*  管理导航分页  one     */
.heightfull{
	height: 100%;
}
/*
.fontdiy{
	font-family: 'comic sans ms', sans-serif; 该英文字体很不错
	color: #ff0000;
}
*/
.fontdis{
	font-size: 25px;
	font-family: 楷体;
	display: inline;
}
.ad_paing{
	padding: 15px;
}
.rowmagin{
	margin-top: 40px;
}
.rowmagins{
	margin-top: 20px;
}
.ad_right{
	float: right;
}

/* 用户管理导航分页  */

.ad_sreachinput{
	height: 38px;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	padding-top: 1.5px;
}
.ad_input{
	width: inherit;
	height: inherit;
	border: 0px solid;
}
.ad_jsspan{
	float: right;
	padding-top: 8px;
	padding-right: 18px;
	display: block;
}
.ad_divtable{
	margin-top: 70px;
}
.ad_spanico{
	padding-left: 5px;
}
.ad_sleftwrap{
	width: 89%;
	height: 35px;
	float: left;
	border-right: 0.5px solid #CCCCCC;
}
/*创收信息管理导航分页*/
.ad_test{
	border: 1px solid #F1F1F1;
}

.ad_ullinomail{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.ad_listdiv{
	padding-top: 15px;
	padding-bottom: 15px;
}
.ad_spanTitleleft{
	float: left;
}
.ad_spanNameright{
	float: right;
}
.a_normailze{
	text-decoration: none;
}
.ad_navright{
	float: right;
	margin-right: 16px;
}
.show_tbodyinfo{
	display: none;
}
