<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
		<session-factory>
				
				<property name="hibernate.show_sql">true</property>
				
				<property name="hibernate.format_sql">true</property>
				
				<property name="hibernate.hbm2ddl.auto">update</property>
		
				<mapping resource="cn/supspider/bean/userbean.hbm.xml"/>
				
				<mapping resource="cn/supspider/bean/ad_allWebinfo.hbm.xml"/>
				
				<mapping resource="cn/supspider/bean/userinfo.hbm.xml"/>
				
				<mapping resource="cn/supspider/bean/advs.hbm.xml"/>
				
				<mapping resource="cn/supspider/bean/userFeedback.hbm.xml"/>
				
				<mapping resource="cn/supspider/bean/ResourceAll.hbm.xml"/>

		</session-factory>
	</hibernate-configuration>